{% extends 'base.html.twig' %}

{% block body %}
    <div class="float-end"><a href="{{ path('fixtures_load') }}" class="btn btn-success">Fixtures load</a></div>

    <div class="container">
        <div class="row">
            {% for division in divisions %}
                <div class="col">
                    {% include 'partial/_division.html.twig' %}
                </div>
            {% endfor %}
        </div>

        {% if playoffGameResults is not empty %}
        <div class="row">
            <div class="col">
            <table class="bracket table">
                <tr>
                    <th></th>
                    <th class="text-center">Semi-final</th>
                    <th class="text-center">Final</th>
                </tr>
                <tr>
                    {% for  playoffResultType  in playoffResultTypes %}
                            <td>
                                {% for gameId, teams in playoffGameResults[playoffResultType].games %}
                                    <div class="d-flex">
                                        <div class="teams">
                                            {% for teamName in teams %}
                                                <p>Team {{ teamName }}</p>
                                            {% endfor %}
                                        </div>
                                        <p class="result">{{ playoffGameResults[playoffResultType].scores[gameId] }}</p>
                                    </div>
                                {% endfor %}
                            </td>
                    {% endfor %}
                </tr>
            </table>
            </div>
            <div class="col">
                <table class="bracket table">
                    <tr>
                        <th>Result</th>
                    </tr>
                    {% for item in topTeamList %}
                        <tr>
                            <td>
                                {{ loop.index }}. Team {{ item.teamName}}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let tables = document.getElementsByClassName("division");

        for (let j = 0; j < tables.length; j++) {
            let table = tables[j];
            for (let i = 2; i < table.rows.length; i++) {
                let row = table.rows[i];
                row.cells[i - 1].style.backgroundColor = 'black';
            }
        }
    </script>
{% endblock %}
