table.bracket {
    border-collapse: collapse;
    border: none;
}

.bracket td {
    vertical-align: middle;
    width: 40em;
    margin: 0;
    padding: 10px 15px 10px 0px;
}
.bracket td:first-child .d-flex:first-child {
    padding-top: 0;
}
.bracket td:first-child .d-flex:last-child {
    padding-bottom: 0;
}

.bracket td:nth-child(2) .d-flex{
    padding: 85px 0;
}


.bracket td p {
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.d-flex {
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.teams {
    width: 100%;
}
.teams p {
    border-bottom: solid 1px black;
}
.teams p:last-child {
    border: none;
}

.result {
    padding-left: 15px;
}
