<table class="table table-striped table-bordered division text-center">
    <tr>
        {% set divisionTeamsCount = division.teams.count %}
        <td colspan="{{ divisionTeamsCount + 2 }}">Division {{ division.name }}</td>
    </tr>
    <tr>
        <th>Teams</th>
        {% for team in division.teams %}
            <th>{{ team.name }}</th>
        {% endfor %}
        <th>Score</th>
    </tr>
    {% for numberTeam, team in  division.teams %}
        <tr>
            <th scope="row">{{ team.name }}</th>
            {% for resultTeamId, teamResults in qualificationGameResults %}
                {% set columnNumber = 0 %}
                {% if team.id == resultTeamId %}
                    {% for gameDTO  in teamResults %}
                        {% if numberTeam == columnNumber %}
                            <td></td>
                        {% endif  %}
                        <td>{{ gameDTO.score }}</td>
                        {% set columnNumber = columnNumber + 1 %}
                {% endfor %}
                {% endif %}

                {% if (divisionTeamsCount - numberTeam) == 1 and (divisionTeamsCount - columnNumber) == 1  %}
                    <td></td>
                {% endif %}
            {% endfor %}

            {% for teamId, teamScore in qualificationGameResults.totalScoreByTeam.qualification %}
                {% if teamId == team.id %}
                    <td>{{ teamScore }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
